name: Auto Delete Merged Branches

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  delete-merged-branches:
    runs-on: ubuntu-latest
    name: Delete Merged Branches
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Delete Merged Branches
        uses: SvanBoxel/delete-merged-branch@2b5b058e3db41a3328fd9a6a58fd4c2545a14353
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branches_to_protect:
            - main
            - saas
            - cli-tool
          days_until_delete: 3
